<style>
div.container 
{
    width: 100%;
    border: 1px solid gray;
}

.center { 
    height: 200px;
    position: relative;
    border: 3px solid green; 
}


header, footer
 {
    padding: 1em;
    color: white;
    background-color:brown;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul 
{
    list-style-type: none;
    padding: 0;
}
			
nav ul a 
{
    text-decoration: none;
}

article
 {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: brown;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover
{
    background-color: brown;
}

.active {
background-color:brown;
}
</style>

